
.vscode/settings.json
quicle_vs/.vs/quicle_vs/v14/.suo
quicle_vs/Debug/quicle_vs.exe
quicle_vs/Debug/quicle_vs.ilk
quicle_vs/Debug/quicle_vs.pdb
quicle_vs/quicle_vs.opensdf
quicle_vs/quicle_vs.sdf
quicle_vs/quicle_vs.sln
quicle_vs/quicle_vs/Debug/Board.obj
quicle_vs/quicle_vs/Debug/GameFile.obj
quicle_vs/quicle_vs/Debug/LinkedList.obj
quicle_vs/quicle_vs/Debug/Node.obj
quicle_vs/quicle_vs/Debug/Player.obj
quicle_vs/quicle_vs/Debug/quicle_vs.log
quicle_vs/quicle_vs/Debug/quicle_vs.tlog/CL.command.1.tlog
quicle_vs/quicle_vs/Debug/quicle_vs.tlog/CL.read.1.tlog
quicle_vs/quicle_vs/Debug/quicle_vs.tlog/CL.write.1.tlog
quicle_vs/quicle_vs/Debug/quicle_vs.tlog/link.command.1.tlog
quicle_vs/quicle_vs/Debug/quicle_vs.tlog/link.read.1.tlog
quicle_vs/quicle_vs/Debug/quicle_vs.tlog/link.write.1.tlog
quicle_vs/quicle_vs/Debug/quicle_vs.tlog/quicle_vs.lastbuildstate
quicle_vs/quicle_vs/Debug/qwirkle.obj
quicle_vs/quicle_vs/Debug/save_load_Game.obj
quicle_vs/quicle_vs/Debug/Tile.obj
quicle_vs/quicle_vs/Debug/vc140.idb
quicle_vs/quicle_vs/Debug/vc140.pdb
quicle_vs/quicle_vs/quicle_vs.vcxproj
quicle_vs/quicle_vs/quicle_vs.vcxproj.filters
quicle_vs/quicle_vs/quicle_vs.vcxproj.user
quicle_vs/quicle_vs/SaveGame
.vscode/settings.json
.vscode/settings.json
*.o
.vscode/settings.json
.vscode/settings.json
quicle_vs/quicle_vs/Debug/gamefile.obj.enc
quicle_vs/quicle_vs/Debug/player.obj.enc
